html {
    background-color: whitesmoke;

}
h1 {
    font-weight: bolder;
    font-style: initial;
    color: rgb(247, 59, 59);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h2 {
    font-size: x-large;
    font-weight: bolder;
    color: rgb(53, 9, 4);
    font-family: 'Century Gothic','CenturyGothic','AppleGothic',sans-serif;
}

p {
    font-size: large;
    line-height: 0cqh;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ol
{
    color: rgb(87, 2, 2);
    font-style: italic;
}

ol li dd
{
    color: black;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}